@using EventoMedia.Data.Models
@{
    ViewData["Title"] = "Details";
}
@model HomeViewModel
@Html.HiddenFor(model => model.EventID)
<div class="Details">
    <div id="Eventnamerino"><h1>@Html.DisplayFor(model => model.EventName)</h1></div>
    <div id="EventDescription">
        <h3>Event Description:</h3>
        <p>@Html.DisplayFor(model => model.EventDescription)</p>

    </div>
    <div id="timeStart">
        From: @Html.DisplayFor(model => model.StartDate)
    </div>
    <div id="timeEnd">To: @Html.DisplayFor(model => model.EndDate)</div>
    <div id="Tickets">How many tickets?: @Html.DisplayFor(model => model.NumberofTickets) </div>
    <div id="Addresserino">
       <span style="color:#3b3272; ">Address:</span> @Html.DisplayFor(model => model.Address)
       <span style="color:#3b3272; margin-left: 10px;">City:</span> @Html.DisplayFor(model => model.City)
    </div>
</div>
<div class="container">
    <div class="Organiser">
        <span style="color:#3b3272; font-size: 40px;">Who's Organising?</span>
        <div>Name: @Html.DisplayFor(model => model.Imie)</div>
        <div>Surname: @Html.DisplayFor(model => model.Nazwisko)</div>
        <div>Votes: @Html.DisplayFor(model => model.NumberOfVotes)</div>
        <div>Rating: @Html.DisplayFor(model => model.Rating)</div>
    </div>
    <div class="Users">
        <div style="color:#3b3272; font-size: 40px;">People who joined:</div>
        <div>Name & Surname</div>
        @for (int i = 0; i < Model.Users.Capacity; i++)
        {

            <div>@Html.DisplayFor(x => Model.Users[i].Imie)  @Html.DisplayFor(x => Model.Users[i].Nazwisko) </div>

        }
        <form id="Join" asp-action="Details" asp-route-id="@Model.EventID" method="post">
            <input  type="submit" value="Join Event" />
        </form>
    </div>
</div>
<div class="Tags">
    <span>Tags:</span>
    @for (int i = 0; i < Model.Tags.Capacity; i++)
    {
        <dl>

            <dd>
                <span>|@Html.DisplayFor(x => Model.Tags[i].TagName)|</span> 
            </dd>
        </dl>
    }
</div>


<a asp-action="Edit" asp-controller="Home" asp-route-id="@Model.EventID">Edit Event</a>
<a asp-action="Delete" asp-controller="Home" asp-route-id="@Model.EventID">Delete Event</a>
<a asp-action="Index" asp-controller="Home">Back to List</a>
